<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ysf.socialcontact">

    <application
        android:name="com.ysf.module_main.view.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1101200312168101#socialcontract" />
        <!--支持android9.0-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>